<div class="container" style="width: 100%; padding: 0px; margin: 0px;">
    <nav class="navbar navbar-default visible-xs" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#categories">TRAINING</a></li>
                    <li><a href="#book/5188fc1894bc11230a87f866">READING</a></li>
                    <li><a href="#book/5188fc1894bc11230a87f866">CORPUS</a></li>
                    <li><a href="#book/5188fc1894bc11230a87f866">CHATTING</a></li>
                    <li><a href="#book/5188fc1894bc11230a87f866">BLOGGING</a></li>
                    <li><a href="#book/5188fc1894bc11230a87f866">VIDEO</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div id="header" class="header_bg visible-lg visible-md visible-sm">
        <div id="header_inn">
            <div id="menu">
                <ul id="navigation" style="height: 50px; width: 790px; padding-top: 10px; margin: auto; padding-left: 0px;">
                    <li><span class="glyphicon glyphicon-star" style="padding-top: 10px"></span></li>
                    <li><a href="#categories">TRAINING</a></li>
                    <li><span class="glyphicon glyphicon-star" style="padding-top: 10px"></span></li>
                    <li><a href="#book/5188fc1894bc11230a87f866">READING</a></li>
                    <li><span class="glyphicon glyphicon-star" style="padding-top: 10px"></span></li>
                    <li><a href="#book/5188fc1894bc11230a87f866">CORPUS</a></li>
                    <li><span class="glyphicon glyphicon-star" style="padding-top: 10px"></span></li>
                    <li><a href="#book/5188fc1894bc11230a87f866">CHATTING</a></li>
                    <li><span class="glyphicon glyphicon-star" style="padding-top: 10px"></span></li>
                    <li><a href="#book/5188fc1894bc11230a87f866">BLOGGING</a></li>
                    <li><span class="glyphicon glyphicon-star" style="padding-top: 10px"></span></li>
                </ul>
                <div class="clr"></div>

            </div>
            <!-- end div #menu -->

            <!--<div id="top_logo" > &nbsp;-->
            <!--<div class="clr"></div>-->
            <!--</div>&lt;!&ndash; end div #top_logo &ndash;&gt;-->
            <div class="clr"></div>
        </div>
        <!-- end div #header_inn-->
        <div class="clr"></div>
    </div>
    <!-- end div #header -->
</div>
