<div id="train_desk_container">

    <div id="train_desk" class="well">

        <div id="current_progress">
            <div id="progress_bar">
                <table class="bar_table">
                    <tr>
                        <td>
                            <div id="stage_name">
                                <%=stagename%>
                            </div>
                        </td>
                        <%
                            for (var i = 0; i < exAll; i++) {
                                if(i <= exCurrent) {
                                    %>
                                    <td>
                                        <div class="bar_done"></div>
                                    </td>
                                    <%
                                } else {
                                    %>
                                    <td>
                                        <div class="bar_pending"></div>
                                    </td>
                                    <%
                                }
                            }
                        %>
                    </tr>
                </table>
            </div>
        </div>

        <div class="top_del"></div>

        <div id="train_area">
            <div id="front_container">
                <div id="front">
                    <h1><%=front%></h1>
                </div>
            </div>
            <table id="delim" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="delim_left"></td>
                    <td class="delim_center"></td>
                    <td class="delim_right"></td>
                </tr>
            </table>
            <div id="back_container">
                <div id="hint">
                    <h1><%=hint%></h1>
                </div>
                <div id="back" class="hidden">
                    <h1><%=back%></h1>
                </div>
            </div>
            <div id="button_box">
                <button id="the_button" class="btn btn-large btn-block btn-info">Check</button>
                <table id="hiding_buttons" cellpadding="0" cellspacing="0" class="hidden">
                    <tr>
                        <td class="btn_size">
                            <input type="button" id="success_button" class="btn btn-large btn-block btn-success" value="Got this">
                        </td>
                        <td class="btn_size">
                            <input type="button" id="fail_button" class="btn btn-large btn-block btn-warning" value="Repeat please">
                        </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>

</div>


