<ul id="categories_list" class="nav nav-pills nav-stacked" style="margin-top: 15px">
    <li>
        <a id="start_training_button_all_<%=suffix%>" data-cat-id="all"
           class="start_training_button category_active_first clickable">
            All
        </a>
        <br/>
    </li>
</ul>