<!--<div class="row topic" style="text-align: center">-->
<!--Current&nbsp;&nbsp;&nbsp;status&nbsp;&nbsp;&nbsp;chart-->
<!--</div>-->


<div id="categories_workbench" class="row">


    <div id="mini_categories_menu_container">

    </div>

    <div id="categories" class="col-lg-3 col-md-3 col-sm-3 visible-lg visible-md visible-sm">

        <div id="create_category_button_container">
        </div>

        <div id="categories_menu_container">

        </div>
    </div>

    <div id="item_browser_container" class="container col-lg-6 col-md-6 col-sm-9 col-xs-12">

        <div id="create_cagetory_container" class="row"/>

        <div id="item_controls_container" class="row"/>

        <div id="create_item_container" class="row"/>

        <div id="items_table_container" class="row"/>

    </div>

    <div class="container col-lg-3 col-md-3 visible-lg visible-md">

        <div class="row stat_container">
            <div id="graphs" class="btn-block btn-group">
                <button type="button" class="btn btn-default col-lg-4 col-md-4 active">
                    <img src="/assets/img/glyphicons_042_pie_chart.png" width="21" height="18"/>
                </button>
                <button type="button" class="btn btn-default col-lg-4 col-md-4">
                    <img src="/assets/img/glyphicons_041_charts.png" width="21" height="18"/>
                </button>
                <button type="button" class="btn btn-default col-lg-4 col-md-4">
                    <img src="/assets/img/glyphicons_040_stats.png" width="21" height="18"/>
                </button>
            </div>
        </div>

        <div class="row stat_container chart_caption_lg visible-lg">
            Overall chart
        </div>

        <div class="row stat_container chart_caption_md visible-md">
            Overall chart
        </div>

        <div id="global_stat_container" class="row stat_container">
            <div id="global_stat_inn" class="col-lg-12">
                <div class="visible-lg">
                    <canvas id="canvas-lg" style="margin: auto;"></canvas>
                </div>
                <div class="visible-md">
                    <canvas id="canvas-md" style="margin: auto;"></canvas>
                </div>
            </div>
        </div>


        <div id="stat_agenda_container" class="row stat_container">

        </div>
    </div>

</div>

