<div class="input-group">
    <input id="createCategoryEmbeddedForm_catNameInput" type="text" class="form-control"
           placeholder="New category name">
      <span class="input-group-btn">
        <button id="createCategoryEmbeddedForm_cancelButton" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-remove"/>
        </button>
      </span>
</div>





