<div class="row">

    <div class="btn-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button id="create_item_button" type="button" class="btn btn-info col-lg-5 col-md-5 col-sm-7 col-xs-7">
            <span class="glyphicon glyphicon-plus"/>
            Item
        </button>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a><span class="glyphicon glyphicon-plus"/> Item</a></li>
            <li><a id="create_category_button"><span class="glyphicon glyphicon-plus"/> Category</a></li>
            <li><a><span class="glyphicon glyphicon-plus"/> Card Preset</a></li>
        </ul>
    </div>

</div>