<div class="well">
    <div class="row">
        <h2 class="form_topic">Create category</h2>
        <hr class="form_delimiter"/>
    </div>

    <input id="catNameInput"
           type="text"
           name="catNameInput"
           class="form-control col-lg-3"
           placeholder="Category name">
    <table style="width: 100%">
        <tr style="width: 100%">
            <td class="create_outcome">
                <input id="cancelBtn"
                       type="button"
                       class="btn btn-warning btn-block"
                       value="Cancel">
            </td>
            <td style="width: 10px">
                &nbsp;
            </td>
            <td class="create_outcome">
                <input id="createBtn"
                       type="button"
                       class="btn btn-success btn-block"
                       value="Create">
            </td>
        </tr>
    </table>


    </div>


</div>

