<div id="panel" class="btn-group col-lg-5 col-md-5 col-sm-4 col-xs-5 clear_padding_left">
    <button type="button" class="btn btn-default active">
        <img src="/assets/img/glyphicons_061_keynote.png" width="14" height="18"/>
    </button>
    <button type="button" class="btn btn-default">
        <img src="/assets/img/glyphicons_113_justify.png" width="21" height="18"/>
    </button>
    <% if (category != "all") { %>
    <button id="edit_cat_button"
            type="button"
            class="btn btn-default">
        <img src="/assets/img/glyphicons_137_cogwheels.png" width="24" height="18"/>
    </button>
    <% } %>

</div>

<div id="graphs" class="btn-group visible-sm visible-xs col-md-4 col-sm-4 col-xs-6">
    <button type="button" class="btn btn-default">
        <img src="/assets/img/glyphicons_042_pie_chart.png" width="21" height="18"/>
    </button>
    <button type="button" class="btn btn-default">
        <img src="/assets/img/glyphicons_041_charts.png" width="21" height="18"/>
    </button>
    <button type="button" class="btn btn-default">
        <img src="/assets/img/glyphicons_040_stats.png" width="21" height="18"/>
    </button>
</div>


<div class="input-group navbar-right col-lg-6 col-md-6 col-sm-3 col-xs-12">
    <span class="input-group-addon glyphicon glyphicon-search" style="top: 0px"></span>
    <input type="text" class="form-control" placeholder="search">

</div>
