<a id="<%=id%>" data-cat-id="<%=catId%>" class="start_training_button <%=activeClass%> <%=firstClass%> clickable">
    <% if (practiceCount > 0) { %>
    <span class="badge pull-right badge_count new_count"><%=practiceCount%></span>
    <% } %>
    <%=name%>
</a>






