<div class="btn-group visible-xs col-sm-12 col-xs-12" style="padding: 0px;">
    <button type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown">
        Categories
        <span class="caret"></span>
    </button>

    <ul id="mini_categories_menu" class="dropdown-menu">
        <li><a href="#" trainid="all">All</a></li>
    </ul>
</div>