<table class="category_top_offset" cellpadding="0" cellspacing="0" style="width: 100%;">
    <tr>
        <td>
            <div class="learned_bg"></div>
        </td>
        <td>Learned</td>
        <td><h4><%=learnedCount%></h4></td>
    </tr>
    <tr>
        <td>
            <div class="repeat_bg"></div>
        </td>
        <td>Ready for practice</td>
        <td><h4><%=practiseCount%></h4></td>
    </tr>
    <tr>
        <td colspan="3">
            <hr class="stat_delimiter"/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Total</td>
        <td><h4><%=allCount%></h4></td>
    </tr>
</table>