<div class="load_container">

<table cellpadding="0" cellspasing="0">
    <tr>
        <td class="load_left"></td>
        <td class="load_center_box">
            <table cellpadding="0" cellspasing="0" class="load_inner_table">
                <tr>
                    <td class="load_center_top"></td>
                </tr>
                <tr>
                    <td class="load_center_middle topic">Loading</td>
                </tr>
                <tr><td class="load_center_bottom"></td></tr>
            </table>
        </td>
        <td class="load_right"></td>
    </tr>
</table>

</div>