<div id="login_form_container">
    <div id="login_form_inn">
                <input id="loginInput"
                       type="text"
                       name="login"
                       class="form-control"
                       placeholder="login">
                <input id="pswdInput"
                       type="password"
                       name="password"
                       class="form-control"
                       placeholder="password">
                <input id="loginBtn"
                       type="button"
                       class="form-control btn btn-block btn-success"
                       value="Log in">

    </div>
</div>

<style>

    .form-control {
        margin-top: 30px;
    }

    #login_form_container {
        padding-top: 50px;
        width: 100%;

    }

    #login_form_inn {
        margin: auto;
        width: 310px;
        font-size: 22px;
        line-height: 20px;
    }

</style>