<div id="ribbon_box">
    <table id="ribbon" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <div id="left_ribbon"></div>
            </td>
            <td>
                <div id="center_ribbon">
                    <div id="ribbon_text">%NAME%</div>
                </div>
            </td>
            <td>
                <div id="right_ribbon">
                    <div id="cat_container">
                        <div id="cat_options">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<style>
    #ribbon_box {
        position: relative;
        width: 100%;
    }

    #ribbon {
        height: 74px;
        margin: auto;
    }

    #center_ribbon {
        text-align: center;
        height: 74px;
        font-size: 32px;
        text-transform: uppercase;
        font-family: 'BazarMedium';
        font-weight: normal;
        color: #545454;
        background: url(/assets/img/center.png) repeat-x;
    }

    #ribbon_text {
        width: 100%;
        padding-top: 8px;
    }

    #right_ribbon {
        width: 300px;
        height: 74px;
        background: url(/assets/img/right.png) no-repeat;
    }

    #left_ribbon {
        width: 300px;
        height: 74px;
        background: url(/assets/img/left.png) no-repeat;
    }
</style>