<table>
    <tr>
        <td>
            <input type="button" id="prevPage" value="prev Page">
        </td>
        <td>
            <input type="button" id="nextPage" value="next Page">
        </td>
    </tr>
</table>

<div id="create_item_container"></div>

<div id="book_content" style="width: 500px; min-width: 500px"></div>
