<table class="items_table table table-hover">
    <thead>
    <tr>
        <th>Front side</th>
        <th>Back side</th>
        <th class="visible-lg visible-md visible-sm">Stage</th>
        <th class="visible-lg visible-md visible-sm">Repeat date</th>
    </tr>
    </thead>
    <tbody id="items_table_container">

    </tbody>
</table>