<div class="well">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-7 col-xs-7">
            <h2 class="form_topic">Create item</h2>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-5 col-xs-5">
            <div id="select_category_container"/>
        </div>
    </div>
    <div class="row">
        <hr class="form_delimiter"/>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="input-group-btn">
                <button id="create_item-select_card_preset" type="button"
                        class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
                    Please select card preset <span
                        class="caret"></span></button>
                <ul id="create_item_form-card_preset_list" class="dropdown-menu col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <li><hr class="form_delimiter"/></li>
                    <li><a data-card-type-id="new">Create new card preset</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row row_top_offset">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="nav nav-tabs">
                <li class="active"><a>I</a></li>
                <li><a>II</a></li>
                <li><a>
                    <span class="glyphicon glyphicon-plus"/> Card
                </a></li>
            </ul>
        </div>
    </div>

    <div id="card_definition_container"
         class="row card_definition_container_background row_down_offset">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 row_top_offset">

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <div class="row_top_offset">
                <div class="input-group-btn">
                    <button id="create_item-select_card_type_menu" type="button"
                            class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
                        Please select card type <span
                            class="caret"></span></button>
                    <ul id="create_item_form-card_type_list" class="dropdown-menu col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <li><hr class="form_delimiter"/></li>
                        <li><a data-card-type-id="new">Create new card type</a></li>
                    </ul>
                </div>
            </div>

            <input id="frontInput" type="text" class="form-control row_top_offset" placeholder="Word"/>
            <input id="backInput" type="text" class="form-control row_top_offset" placeholder="Translation"/>
            <input id="definitionInput" type="text" class="form-control row_top_offset" placeholder="Definition"/>
            <input id="contextInput" type="text" class="form-control row_top_offset" placeholder="Context / Example"/>
        </div>

    </div>

    <div class="row row_top_offset">
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
            <button id="cancelBtn" type="button" class="btn btn-warning form-control">cancel</button>
        </div>
        <div class="col-lg-4 col-md-2">

        </div>
        <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
            <button id="saveBtn" type="button" class="btn btn-success form-control">save</button>
        </div>
    </div>

</div>