<div class="input-group-btn">
    <button id="create_item-select_category_menu" type="button"
            class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
        Select category <span
            class="caret"></span></button>
    <ul id="create_item_form-categories_list" class="dropdown-menu col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <% for (var i = 0, len = categories.length; i < len; i++) { %>
        <li><a data-category-id="<%=categories[i].attributes.id%>" href="#"><%=categories[i].attributes.name%></a></li>
        <% } %>
        <li><hr class="form_delimiter"/></li>
        <li><a data-category-id="new">Create new category</a></li>
    </ul>
</div>