@import "globals.less";

#global_stat_container {

}

.stat_container {
  padding-left: 15px;
  padding-right: 15px;
}

.category_top_offset {
//  margin-top: 20px;
}

.create_category_button {

}

#categories {
  top: -10px;
}

#chart_container {

  margin: auto;
}

.create_outcome {
  padding-top: 5px;
  width: 50%;
}

.practice_bg {
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background-color: #F7464A;
  width: 20px;
  height: 20px;
}

.repeat_bg {
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background-color: #FDB45C;
  width: 20px;
  height: 20px;
}

.learned_bg {
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  background-color: #46BFBD;
  width: 20px;
  height: 20px;
}

.empty_badge {
  text-transform: none;
  border: 2px solid #FFFFFF;
}

.stat_delimiter {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #999999;
  margin: 1em 0;
  padding: 0;
}

.form_delimiter {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #000000;
  margin: 1em 0;
  padding: 0;
}


.topic {
  font-size:32px;
  text-transform:uppercase;
  font-family: 'SeasideResortNFRegular';
  font-weight: normal;
  text-decoration: none;
}

.badge_count {
  margin-top: -2px;
  font-size:10px;
}

.badge_count_empty {
  margin-top: 5px;
  font-size:18px;
}

.pseudo_link {
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px;
  border: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 5px;
}

.pseudo_link:hover {
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #999999;
}

.practice_count {
  background-color: #F7464A;
  border: 2px solid #FFFFFF;
}

.new_count {
  background-color: #FDB45C;
  border: 2px solid #FFFFFF;
}

.start_training_button {
  color:#444444;
  font-size:12px;
  text-transform:uppercase;
  font-weight: normal;
  text-decoration: none;
}

.category_active {
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  //  border: 1px solid #999999;
}

.category_active_first {
  border: 1px solid #999999;
}

.start_training_button:hover {
  color:#444444;
  text-transform:uppercase;
  font-weight: normal;
  text-decoration: none;
}

.selected {
  background-color: #eee;
}

.items_table {
  margin-top: 15px;
}

.items_table thead tr th, .items_table tbody tr td {
  border-color: #000000;
}

.row_top_offset {
  margin-top: 15px;
}

.row_down_offset {
  padding-bottom: 15px;
}

.column_offset {
  margin-left: 15px;
}

.clear_margin_both {
  margin-left: 0px;
  margin-right: 0px;
}

.clear_padding_left {
  padding-left: 0px;
}

.clear_margin_left {
  margin-left: 0px;
}

.chart_caption_lg {
  text-align: center;
  margin: 10px;
  font-family: SeasideResortNFRegular;
  font-size: 20px;
}

.chart_caption_md {
  text-align: center;
  margin: 10px;
  font-family: SeasideResortNFRegular;
  font-size: 18px;
}

.form_topic {
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 15px;
}

.card_definition_container_background {
  background-color: #FFFFFF;
}
