@font-face {
  font-family: 'BazarMedium';
  src: url('bazar-webfont.eot');
  src: url('bazar-webfont.eot?#iefix') format('embedded-opentype'),  url('bazar-webfont.woff') format('woff'),  url('bazar-webfont.ttf') format('truetype'),  url('bazar-webfont.svg#BazarMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SeasideResortNFRegular';
  src: url('seasrn__-webfont.eot');
  src: url('seasrn__-webfont.eot?#iefix') format('embedded-opentype'),  url('seasrn__-webfont.woff') format('woff'),  url('seasrn__-webfont.ttf') format('truetype'),  url('seasrn__-webfont.svg#SeasideResortNFRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
