@import "globals.less";
@import "fonts.less";

/* === Layout === */
#header {
  height:83px;
  margin-top: 0px;
  padding-top: 0px;
  z-index: 5;
}

#navigation {
  padding-top: 0px;
  margin-top: 0px;
}

#header_inn {
  padding-top: 4px;
}

#settings_button {

}

.settings_button {
  margin-top: -19px;
  padding-top: 80px;
  padding-left: 6px;
  float: right;
  width: 44px;
  height: 123px;
}

.header_container {
  width: 100%;
  position: absolute;
  margin-top: -@settings_height - 23 - @login_page_offset;
  z-index: 10;
}


/* === Styles === */

.settings_bg {
  background: url(../img/home_blog_bg.jpg) repeat;
  height: @settings_height;
}

.header_bg {
  background:url(../img/body_bg.png) repeat-x;
}

.settings_button_bg {
  background: url(../img/long_settings.png) no-repeat;
}

#menu ul li {
  list-style:none;
  padding-left: 10px;
  float:left;
}

#menu ul li a {
  color:#f6edd8;
  font-size:32px;
  text-transform:uppercase;
  font-family: 'BazarMedium';
  font-weight: normal;
  text-decoration: none;
}

.cogwheel {
  background: url(../img/glyphicons_136_cogwheel.png);
  width: 24px;
  height: 24px;
}

.settings_menu_bg {
  width: 100%;
  height: 23px;
  background: url(../img/home_settings.png) repeat-x;
}
