.load_container {
  padding-top: 10%;
  margin: auto;
  height: 200px;
  width: 600px;
}

.load_left {
  width: 72px;
  height: 100px;
  background: url(../img/load_box_left.png);
}

.load_right {
  width: 72px;
  height: 100px;
  background: url(../img/load_box_right.png) no-repeat;
}

.load_center_top {
  min-width: 200px;
  width:200px;
  height: 22px;
  background: url(../img/load_top.png) repeat-x;
}

.load_center_bottom {
  width: 200px;
  height: 22px;
  background: url(../img/load_bottom.png) repeat-x;
}

.load_center_middle {
  min-width: 400px;
  text-align: center;
}

.load_inner_table {
  height: 100px;
}