@import "globals.less";
@import "fonts.less";

body {
  background:url(../img/home_about_bg.jpg) repeat;
  height: 100%;
}

.clr {
  clear:both;
}

.voc_container {
  padding-top: 120px;
}

.clickable {
  cursor: pointer;
}

