@import "globals.less";
@import "fonts.less";

#train_desk_container {
  min-width: @min_container_width;
}

#train_desk {
  margin: auto;
  width: 780px;
}

#train_area {
  padding-top: 40px;
  margin: auto;
  width: 700px;
}

.bar_table {
  margin: auto;
  width: 200px;
}

.bar_pending {
  width:70px;
  height:15px;
  margin-left: 5px;
  background: url(../img/stage_pending.png) repeat;
  border-radius: 15px;
}

.bar_done {
  width:70px;
  height: 15px;
  margin-left: 5px;
  background: url(../img/stage_done.png) repeat;
  border-radius: 15px;
}

#stage_name {
  font-size:32px;
  text-transform:uppercase;
  font-family: 'SeasideResortNFRegular';
  font-weight: normal;
  text-decoration: none;
  width: 200px;
  margin: auto;
  text-align: center;
}

#front_container {
  width: 100%;
  text-align: center;
  min-height: 50px;
}

#front {
  font-stretch: normal;
  font-weight: normal;
  text-decoration: none;
}

#font h1 {
  font-size: 48px;
  font-style: normal;
}

#back_container {
  padding-top: 40px;
  width: 100%;
  text-align: center;
  min-height: 50px;
}

#back {
  font-size:42px;
  font-weight: normal;
  text-decoration: none;
}


#delim {
  width: 462px;
  margin: auto;
  margin-top: 40px;
}

.delim_left {
  width: 31px;
  height: 13px;
  background: url(../img/delim_left.png) no-repeat;
}

.delim_right {
  width: 31px;
  height: 13px;
  background: url(../img/delim_right.png) no-repeat;
}

.delim_center {
  width: 400px;
  height: 13px;
  background: url(../img/delim_center.png) repeat-x;
}


#button_box {
  padding-top: 40px;
  width: 400px;
  margin: auto;
}

.hiding_buttons {
  width: 100%;
}

.btn_size {
  width: 230px;
}

.hidden {
  display: none;
}
